.product__image-attr {
  color: grey;
  display: block;
  font-size: 0.7rem;
  margin-left: auto;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 30px);
}
