@import url(./__title/nav-bar__title.css);
@import url(./__link/nav-bar__link.css);
@import url(./__cart-button/nav-bar__cart-button.css);
@import url(./__cart-amount/nav-bar__cart-amount.css);

.nav-bar {
  align-content: center;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 0;
  text-align: center;
}
