.product__add-to-cart-btn {
  background-color: #afc97e;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
  padding: 10px 0;
  transition: background-color 0.2s ease-in-out;
  width: 100%;
}

.product__add-to-cart-btn:hover {
  cursor: pointer;
  background-color: rgba(175, 201, 126, 0.8);
}
