.product__change-amount-btn {
  align-items: center;
  background-color: #afc97e;
  border-radius: 3px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  color: #fff;
  display: flex;
  font-size: 20px;
  height: 25px;
  justify-content: center;
  margin: 0;
  padding: 0;
  transition: background-color 0.2s ease-in-out;
  width: 25px;
}

.product__change-amount-btn:hover {
  background-color: rgba(175, 201, 126, 0.8);
  cursor: pointer;
}

.product__change-amount-btn:disabled {
  background-color: #bebebe;
  cursor: default;
}

@media (min-width: 768px) {
  .product__change-amount-btn {
    font-size: 15px;
    height: 20px;
    width: 20px;
  }
}
