.product__description {
  height: 100px;
  margin: 10px 0 0 0;
  overflow-y: auto;
  padding-right: 5px;
  scrollbar-color: #afc97e;
  scrollbar-width: thin;
}

.product__description::-webkit-scrollbar {
  width: 10px;
}

.product__description::-webkit-scrollbar-track {
  background: #fff;
}

.product__description::-webkit-scrollbar-thumb {
  background-color: #afc97e;
  border-radius: 20px;
}
