.products_place_cart {
  grid-area: products;
}

.products_place_cart::-webkit-scrollbar {
  width: 10px;
}

.products_place_cart::-webkit-scrollbar-thumb {
  background-color: #afc97e;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .products_place_cart {
    height: calc(100vh - 3.5rem - 61px);
    margin: 0 15px;
    overflow-y: scroll;
  }
}

@media (min-width: 1024px) {
  .products_place_cart {
    height: calc(100vh - 3.5rem - 68px);
  }
}
