@import url(./__title/cart__title.css);
@import url(./__user-options/cart__user-options.css);
@import url(./__continue-shopping-link/cart__continue-shopping-link.css);
@import url(./__clear-cart-btn/cart__clear-cart-btn.css);
@import url(./__clear-cart-btn-icon/cart__clear-cart-btn-icon.css);

.cart {
  padding: 15px 0 0;
}

@media (min-width: 768px) {
  .cart {
    display: grid;
    grid-template-areas: 'title cart-summary' 'products cart-summary' 'user-options cart-summary';
    grid-template-columns: calc(100% - 280px) 280px;
    padding: 0;
  }
}

@media (min-width: 1280px) {
  .cart {
    grid-template-columns: calc(100% - 330px) 330px;
  }
}
