.filter-products__option {
  background-color: #fff;
  padding: 5px 10px;
  margin-left: 15px;
  border-radius: 5px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
  display: inline-block;
  border: none;
  transition: transform ease-in-out 0.2s, background-color ease-in-out 0.2s;
}

.filter-products__option:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

input[type='checkbox']:checked + .filter-products__option {
  background-color: #afc97e;
  color: #fff;
}
