.cart__continue-shopping-link {
  text-decoration: none;
  color: #000;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .cart__continue-shopping-link {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
