.notification__exit-btn {
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../images/exit-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  grid-area: exit-btn;
  height: 10px;
  justify-self: end;
  margin-left: 10px;
  transition: transform 0.2s ease-in-out;
  width: 10px;
}

.notification__exit-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
}
