.product__image {
  align-self: stretch;
  height: 188px;
  object-fit: cover;
  width: 100%;
}

.product_place_cart .product__image {
  grid-area: image;
  height: 100px;
  align-self: center;
}

@media (min-width: 768px) {
  .product__image {
    height: 150px;
  }
}

@media (min-width: 1024px) {
  .product_place_cart .product__image {
    height: 150px;
  }
}
