.notification__image {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  color: #fff;
  display: flex;
  font-size: 30px;
  grid-area: image;
  height: 50px;
  justify-content: center;
  width: 50px;
}
